# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
sysinfo.txt
mono_crash.*

*.log

# Blender backup files
*.blend1
*.blend1.meta

# Visual Studio / Rider / IDE
.vs/
.gradle/
ExportedObj/
.consulo/
*.suo
*.tmp
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# Do NOT ignore .csproj or .sln (because you want them in GitHub)
# *.csproj
# *.sln

# Unity meta crash files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Builds
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# Crashlytics
crashlytics-build.properties

# TestRunner
InitTestScene*.unity*

# Addressables
/ServerData
/[Aa]ssets/StreamingAssets/aa*
/[Aa]ssets/AddressableAssetsData/link.xml*
/[Aa]ssets/Addressables_Temp*
/[Aa]ssets/AddressableAssetsData/*/*.bin*

# Visual Scripting
/[Aa]ssets/Unity.VisualScripting.Generated/

# IMPORTANT: Allow UserSettings and solution files
!UserSettings/
!*.csproj
!*.sln
